.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    /* 6 columns. Using 0.5 unit of space. */
    font-family: sans-serif;
}

.column {
    padding: 2rem 2rem 2rem 2rem;
    outline: 0.02rem solid blue;
    
}